

<div *ngIf="user" class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <img class="img-fluid rounded" src="{{user.avatar_url}}" alt="A cool user profile pic" />
    </div>
    <div class="col-md-9 pl-2">
      <div class="row my-3">
        <div class="col-md-9">
          <h1>{{user.login}}</h1>
          <h2>
            <small class="text-secondary">
              {{user.name}}
              <span *ngIf="user.location"> | {{user.location}}</span>
            </small>
          </h2>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-md-9">
          <a class="btn btn-primary" href="{{user.html_url}}" target="_blank">Go to GitHub Profile</a>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-md-9">
          <p *ngIf="user.blog"><a href="{{user.blog}}" target="_blank">User's Blog</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
