

<div *ngIf="user" class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <img class="img-fluid rounded" src="{{user.avatar_url}}" alt="A cool user profile pic" />
    </div>
    <div class="col-md-9 pl-2">
      <div class="row my-3">
        <div class="col-md-9">
          <h1>{{user.login}}</h1>
          <h2>
            <small class="text-secondary">
              {{user.name}}
              <span *ngIf="user.location"> | {{user.location}}</span>
            </small>
          </h2>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-md-9">
          <a class="btn btn-primary" href="{{user.html_url}}" target="_blank">Go to GitHub Profile</a>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-md-9">
          <p *ngIf="user.blog"><a href="{{user.blog}}" target="_blank">User's Blog</a></p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="user.repos && user.repos.length > 0" class="row mt-5">
    <div class="col">

      <h4>User's Repos</h4>

      <table class="table">
        <thead>
          <tr>
            <th>Repo</th>
            <th>Stars</th>
            <th>Open Issues</th>
            <th>Language</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repo of user.repos">
            <td><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></td>
            <td>{{repo.stargazers_count}}</td>
            <td>{{repo.open_issues}}</td>
            <td>{{repo.language}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="user.followers && user.followers.length > 0" class="row mt-5">
    <div class="col">

      <h4>User's Followers</h4>

      <table class="table">
        <tbody>
          <tr *ngFor="let follower of user.followers">
            <img class="rounded my-2" height="150" width="150" src="{{follower.avatar_url}}" />
            <a class="ml-5 h5" href="{{follower.html_url}}" target="_blank">{{follower.login}}</a>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
