<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/77c7a9e5-0266-41d8-a3e8-29c1528e53d7/resourceGroups/EP-Project2/providers/Microsoft.Web/sites/geordid</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://geordid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>geordid.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>geordid</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$geordid</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>